@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(240, 228, 240);
}

.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header, .footer {
    display: flex;
    background-color: rgb(102, 126, 161);
}

.menu {
    display: flex;
    margin: 0px 50px;
    padding: 0px;
    
}

li {
    list-style-type: none;
    margin: 20px;
    width: fit-content;
    
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-title {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 40%;
    font-weight: bold;
    font-size: 20px;
    color: rgb(235, 247, 250);
    
}

.container-greeting {
    display: flex;
    justify-content: center;
    

}

.block-greeting {
    width: 50%;
    margin-top: 5%;
}

.greeting {
    text-align: center;
}

#welcome {
    width: 450px;
    margin-top: 50px;
}

.footer {
    margin-top: auto;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.footer-text {
    padding-right: 50px;
}

.container-about {
    display: flex;
    margin-top: 100px;
    


}

#foto {
    width: 600px;
    margin-left: 300px;
    
}

.about {
    margin-left: 100px;
    width: 400px;
}

.example {
    width: 220px;
    margin-left: 30px;
}

.block-example {
    display: inline-block;
    margin-top: 50px;        
}

.works {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    margin: 30px;
}